<!-- <p [ngClass]="{active: test == 2}">Lorem Ipsum</p>
<button (click)="changeColor()">click</button>


<p>Why Javascript {{addTest}}</p>
<button (click)="changeText()">Add text</button>

<input [(ngModel)]="twoWay">
<div>{{twoWay}}</div>

<div class="colorSet" [ngClass]="{active: shanky == 2}">dfdfdf</div>
<button (click)="changeSet()">change set</button> -->
<div class="aboutUserInfoSet">
  <div class="aboutUserInfoPhoto">
    <div class="userCount">21</div>
  </div>
  <div class="aboutUserContent">
    <div class="aboutUserName">John</div>
    <button routerLink="about-me">About Me</button>
    <button routerLink="my-talent">My Talent</button>

  </div>
  <div class="aboutUserData">
    <router-outlet></router-outlet>
  </div>
</div>
